<% http_header("style/form.min.css", "/funcs_min.js", "/AccessControl.js") %>
<% body_header("","Orbi_edit_dev.htm","orbi_edit_dev") %>
<script>
var ts='<% cfg_get("orbi_edit_dev") %>';
var enable_block_device="<% cfg_get("enable_block_device") %>";
function goto_url()
{
	location.href="access_control.htm";
}

var dev_info = new Array();
var itime;
function update_device_info(json)
{
	eval(json)
	dev_info=[];
	for(var i=0, len = device.length; i<len;i++)
	{
		var obj = {};

		obj['ip']=device[i]['ip'];
		obj['mac']=device[i]['mac'];
		obj['contype']=device[i]['contype'];
		obj['attachtype']=device[i]['attachtype'];
		if(device[i]['name'] == "Unknown")
			obj['name']="---";
		else
			obj['name']=device[i]['name'];
		obj['accsta']=device[i]['accsta'];
		dev_info.push(obj);
	}
}

function edit_dev(num)
{
	var cf = document.forms[0];
	cf.hid_mac.value = dev_info[num]['mac'];
	cf.hid_ip.value = dev_info[num]['ip'];
	cf.hid_name.value = dev_info[num]['name'];
	
	cf.submit_flag.value="orbi_edit_dev";
	cf.action="/apply.cgi?/Orbi_edit_dev.htm timestamp="+ts;
	cf.submit();
}
function getDevices()
{
	var xmlhttp, xmlDoc;
	var msg = '<TABLE class=tables border=0 cellpadding=2 cellspacing=0 width=100% id="satellite_table">'
		+'<TR class=table_header>';
		if(enable_block_device == 0)
			msg += '<TD nowrap align=center width=15%><span class="subhead"># </span></TD>';
		else
			msg += '<TD nowrap align=center width=15% class="subhead_acc_control">$stalist_Status</TD>';
		msg =msg +'<TD nowrap align=center width=25% class="subhead_acc_control">$adva_wlan_devicename</TD>'
		+'<TD nowrap align=center width=20% class="subhead_acc_control">$block_ser_setup_ip_jp</TD>'
		+'<TD nowrap align=center width=20% class="subhead_acc_control">$info_mark_mac</TD></TR>';
		
	var msg2 = '<TABLE class=tables border=0 cellpadding=2 cellspacing=0 width=100% id="device_table">'
		+'<TR class=table_header>';
		if(enable_block_device == 0)
			msg2 += '<TD nowrap align=center width=15%><span class="subhead"># </span></TD>';
		else
			msg2 += '<TD nowrap align=center width=15% class="subhead_acc_control">$stalist_Status</TD>';
		msg2 =msg2 +'<TD nowrap align=center width=25% class="subhead_acc_control">$adva_wlan_devicename</TD>'
		+'<TD nowrap align=center width=20% class="subhead_acc_control">$block_ser_setup_ip_jp</TD>'
		+'<TD nowrap align=center width=20% class="subhead_acc_control">$info_mark_mac</TD>'
		+'<TD nowrap align=center width=25% class="subhead_acc_control">$trigger_contype</TD</TR>';

	if ( window.XMLHttpRequest)
		xmlhttp = new XMLHttpRequest();
	else
		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

	xmlhttp.onreadystatechange = function()
	{
		if ( xmlhttp.readyState == 4 && xmlhttp.status == 200 )
		{
			update_device_info(xmlhttp.responseText);
			var s_num=0,d_num=0;
			for(var i=0, len=dev_info.length; i<len; i++)
			{
				if(dev_info[i]['attachtype']=='2')//satellite
				{
					msg += '<tr class="even_line">';
					if(enable_block_device == 0)
						msg += '<td align=center>'+(s_num+1)+'</td>';
					else
						msg += '<td align=center><font color=green>$acc_allow</font></td>';
					msg += '<td align=center><a class=linktype style="cursor:pointer" onclick="edit_dev('+i+')" style="cursor:pointer">'+dev_info[i]['name'].replace(/\s/g, '&nbsp;')+'</a></td>';
					msg += '<td align=center>'+dev_info[i]['ip']+'</td>';
					msg += '<td align=center>'+dev_info[i]['mac']+'</td></tr>';
					s_num++;
				}
				else
				{
					msg2 += '<tr class="even_line">';
					if(enable_block_device == 0)
						msg2 += '<td align=center>'+(d_num+1)+'</td>';
					else
					{
						if(dev_info[i]['accsta']=='1')
							msg2 += '<td align=center><font color=red>$acc_block</font></td>';
						else
							msg2 += '<td align=center><font color=green>$acc_allow</font></td>';
					}
					msg2 += '<td align=center><a class=linktype style="cursor:pointer" onclick="edit_dev('+i+')">'+dev_info[i]['name'].replace(/\s/g, '&nbsp;').replace(/&#92;/g, "\\").replace(/&#38;/g,"&")+'</a></td>';
					msg2 += '<td align=center>'+dev_info[i]['ip']+'</td>';
					msg2 += '<td align=center>'+dev_info[i]['mac']+'</td>';
					msg2 += '<td align=center>'+dev_info[i]['contype']+'</td></tr>';
					d_num++;
				}
			}
			msg += '</table>';
			document.getElementById("satellites").innerHTML=msg;
			document.getElementById("devices").innerHTML=msg2;
		}
	};
	xmlhttp.open("GET", "DEV_device_info.htm?ts=" + new Date().getTime(), true);
	xmlhttp.send();
	itime=setTimeout("getDevices()", 5000);
}

function loadvalue()
{
	getDevices();
}

</script>
<div class="page_title">$attach_device</div>
<div id="main" class="main">
<input type="hidden" name="hid_mac" value="0"/>
<input type="hidden" name="hid_name" value="0"/>
<input type="hidden" name="hid_ip" value="0"/>
<% table_header() %> 
<TR><td colspan=3><hr class=blueBar /></td></TR>
<TR id="acc_line" style="display:none">
	<TD nowrap colspan=3 align=right>$access_control_url1
	<a href=# onClick="goto_url(); return false;"><font color=blue><u>$access_control_url2</u></font></a>&nbsp;
	$access_control_url3
	</TD>
</TR>
<TR>
	<TD width="40%" >&nbsp;</TD>
	<TD>
	<script>
		var new_device_statue_by_default="<% cfg_get("new_device_statue_by_default") %>";
		if(top.enable_ap_flag == "0")
		{
			document.getElementById("acc_line").style.display="";
			if( enable_block_device == "0" )
			{
				document.write("$acc_control: $acc_turned_off");
			}
			else
			{
				document.write("$acc_control: $acc_turned_on");
				document.write("<br/>");
				if( new_device_statue_by_default == "Block" )
					document.write("$acc_general_rule: $block_connect");
				else
					document.write("$acc_general_rule: $allow_connect");
			}
		}
	</script>	
	
	</TD>
	<TD nowrap align=right>
	<input class="common_bt" type='button' name='refresh' value='$refresh_mark' onClick='location.href="DEV_device.htm";'>
	</TD>
</TR>
</TABLE>

<div><B>Connected Satellites</B></div>
<div id=satellites></div>
<div><B>Connected Devices</B></div>
<div id=devices></div>
</div>
<% help_box("1","_attach_device") %>
</FORM>
</BODY>
</HTML>
