<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<% orbi_flow_head() %>
<% hijack_language() %>
</head>

<body>
<div id="container">
	<div class="dialog-content">
	<div id="card-no-internet-cable" class="install-card clearfix" style="overflow-y:auto;">
		<img class="netgear-logo" src="images/netgear.png">
		<div class="bullet-wrapper">
		  <div class="desc-title">
			<h1 style="font-size:1.28em;"><b><script>document.write("Router Mode or Access Point Mode");</script></b></h1>
			<p><script>document.write("We detected that you are trying to install your new Orbi router behind another gateway, for example, the DSL or cable gateway from your Internet service provider. Usually a gateway also provides WiFi or Voice over Internet (VoIP) function. You can install your Orbi router in two different operation modes.");</script></p>
			<div style="margin-top: 20px;"><img src="image/G1.jpg" height="245"></div>
			<p><b><script>document.write("Router Mode");</script></b></p>
			<p><script>document.write("This mode configures your new Orbi router as a normal WiFi router behind your gateway and creates a separate network behind your gateway. To take full advantage of these router's advanced funcstions, we recommend that you use router mode. In router mode, the only device that can be connetcted to your existing gateway is your new Orbi router. You must connect all of your devices to the new Orbi router. If your existing gateway has a WiFi function, disable it.");</script></p>
			
		 </div>
		</div>
	</div>
	</div>
</div>
</body>
<html>